@import url("https://fonts.googleapis.com/css2?family=Recursive&display=swap");
:root {
  --main-light1: #7c83fd;
  --main-light2: #96baff;
  --main-light3: #7dedff;
  --main-light4: #88fff7;
}
.App {
  font-family: "Recursive", sans-serif;
  text-align: center;
}

button {
  display: inline;
  background-color: lightblue;
  padding: 5px 20px;
  border: 1px solid black;
  margin-left: 5px;
}
.movieview {
  width: 100%;
  height: auto;
  position: relative;
}

.card-box {
  width: 100%;
  height: auto;
}

.card {
  width: 25%;
  height: 288px;
  border: 1px solid #74acbb;
  display: inline-block;
  margin: 10px 5px;
}

.card img {
  width: 100%;
  height: 237px;
  text-align: center;
}

.card .card-text {
  width: 100%;
  height: 10px;
  overflow: none;
}

.card-text p {
  margin: 0;
  /* big text solution */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
